body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.iAmSoStupid {
	margin: 0 auto;
}

.gottaBeFullStack {
	line-height: 50px;
}

.gitpush {
	margin: 5000px;
}

.gitpushpush {
	margin:1234px;
}